{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
O nas
{% endblock %}
{% block content %}
<br><br>
<div class="center-align">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card-panel teal">
          <span class="white-text"> Smo prestižna restavracija, ki vam nudi različne jedi po primernih cenah glede na kakovost.
               Če želite narediti vtis, ali pa želite le dobro jesi nas obiščite in ne bo vam žal.
          </span>
        </div>
      </div>
    </div>
    <b>OBRATOVALNI ČAS</b><br>
pon – pet 12:00 – 22:00<br>
sob: 12:00 – 22:00<br>
ob nedeljah in praznikih zaprto<br>
    <br>
    <b>Restavracija Cassa di Giaco</b><br>
    Wolfova ulica 12<br>
    SI-1000 Ljubljana<br><br>
    <p align="center"><img src="{% static 'img/slika11.webp' %}"></p><br>




    <b>KONTAKT</b><br>
    Telefon:<br>
    01 545 16 16<br>
    E-naslov:<br>
    CassadiGiaco@CassadiGiaco.com<br><br>

    <b>REZERVACIJE</b><br>
    Rezervacije so možne vsak dan med delovnim časom, na telefonu 01 545 16 16.<br>
    Priporočamo vam, da svojo rezervacijo uredite vsaj 2 dni pred prihodom.<br><br>


</div>
{% endblock %}